
  
  /* contact*/
  
  
  /* body {            
    margin: 0;
    padding: 0;
    color: #4e5861;
    font-size: 16px;
    font-weight: 400
  
  } */

  .blog-breadcrumb-bg {
    background-image: url('../img/imagee1.jpg');
    background-size: cover;
  }
  .breadcrumb-area {
    position: relative;
    padding: 82px 0 30px;
  }
  @media (min-width: 992px){
  .container {
    max-width: 960px;
  }
  }
  .rows {                         /* please read*/
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  @media (min-width: 992px)
  {
  .col-lg-12 {
   
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  }
  
  .breadcrumb-area .breadcrumb-txt {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
  }
  .containers {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px; 
    padding-bottom: 20px
  }
  h1{
    color: white;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
    word-spacing: 7px;
    letter-spacing: 4px;
  }
  .breadcrumb {
    background: 0 0;
    padding: 0;
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    width: 100%;
    border-radius: 0.25rem;
  }
  .breadcrumb-item.active {
    color: #fff;
    font-weight: 600;
  }
  a {
    color: #631755;
    text-decoration: none;
    background-color: transparent;
    
  }
  .breadcrumb a, .breadcrumb li {
    font-size: 18px;
    color: #fff;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    font-weight: 700;
    content: "\f054";
    font-size: 12px;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .breadcrumb-area .breadcrumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0b2b32;
    opacity: .6;
  }
  
  .contact-section .single-info-col:first-child {
    border: 1px solid #f1f1f1;
  }
  
  
  /* .no-gutters{
    margin-right: 0;
    margin-left: 0;
  
  } */
  .no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
  }
  @media (min-width: 992px){
  .col-lg-4 {
    
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  }
  
  
  
  element.style {
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeInRight;
  }
  
  .contact-section .single-info:last-child {
    margin-bottom: 0;
  }
  .contact-section{
    margin-top: 20px;
  }
  .contact-section .single-info {
    
    padding: 40px 42px;
  }
  
  .contact-section .single-info .icon-wrapper {
  
    border: 1px solid #631755;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #fff;
    float: left;
    transform: rotateY(0);
    transition: background-color .5s;
  
  }
  
  .contact-section .single-info .icon-wrapper i {
    font-size: 20px;
    color: #631755;
    transition: .5s;
  }
  .fa-home::before {
    content: "\f015";
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px)
  {
  .contact-section .single-info .info-txt {
    width: 70%;
  }
  }
  .contact-section .single-info .info-txt {
    float: left;
   
  }
  p {
    margin-top: 0;
    /* margin-bottom: 1rem;*/
  } 
  .single-info .fadeInRight .info-txt::after{
    box-sizing: border-box;
  
  }
  .contact-section .single-info-col:nth-child(2) {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
  }
  @media (min-width: 992px)
  {
  .col-lg-4 {
    
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  }
  
  .fa, .fab, .fal, .far, .fas {
    
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  .fa, .fab, .fal, .far, .fas::before{
    box-sizing: border-box;
  }
  element.style {
    visibility: visible;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-name: fadeInRight;
  }
  .contact-section .single-info:last-child {
    margin-bottom: 0;
  }
  .contact-section .single-info-col:last-child {
    border: 1px solid #f1f1f1;
  }
  .contact-section .single-info p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 28px;
  }
  
  strong {
    font-weight: bolder;
  }
  a {
    color: #631755;
    text-decoration: none;
    background-color: transparent;
    
  }
  
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
  .contact-section .single-info .icon-wrapper {
    animation-duration: 1s;
    animation-name: fadeInRight;
  }
  
  
  .contact-section .single-info .icon-wrapper i {
    animation-duration: 1s;
    animation-name: fadeInRight;
  }
  /* MAp*/
  .contact-form-section {
    margin-top: 90px;
  }
  @media (min-width: 992px)
  {
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  }
  h2.subtitle {
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 60px;
    
  }
  .col-lg-6 h2{
  font-size: 24px!important;
    color: #5d4646!important;
  }
  @keyframes typing {
    from {
        width: 0; /* Start with a width of 0 (text is not visible) */
    }
    to {
        width: 100%; /* Fully typed out the text */
    }
  }
  .animate{
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent line breaks */
    animation: typing 4s steps(40, end);
  }
  /* For From*/
  .row {
    display: flex;
    justify-content: left;
  }
  .right-side {
    margin-top: -40px;
    flex: 0 0 50%;
    max-width: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .right-side form {
    width: 400px;
    background-color: skyblue;
    padding: 20px;
    margin-top: 20px;
  }
  
  .right-side form .form-group {
    margin-bottom: 5px;
  }
  
  .right-side form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .right-side form input[type="text"],
  .right-side form input[type="email"],
  .right-side form input[type="tel"],
  .right-side form select,
  .right-side form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .right-side form textarea {
    height: 100px;
  }
  
  .right-side form .submit-button {
    background-color: #4CAF50;
    text-align: center;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }
  
  .right-side form .submit-button:hover {
    background-color: #45a049;
  }
  
  /* address*/

  
  
 
 